.benefits {
	background: $silver-color;

	&__container {
		@include flex-justify-center;
		flex-direction: column;
		gap: 80px;
	}

	&__content-list {
		@include flex-center-center;
		gap: 40px;

		@include low-laptop {
			flex-direction: column;
		}
	}
}

.benefits-content {
	&__title {
		display: inline-block;
		margin-bottom: 20px;
	}

	&__text {
		@include low-laptop {
			max-width: 400px;
		}
	}

	&__tooltip {
		display: inline-block;
	}

	&__trigger {
		width: 28px;
		margin-left: 10px;
		padding: 0px 12px;
		font-size: $text-font-size;
		background-color: $silver-color;
		border-radius: 20px;

		cursor: pointer;
		box-shadow: $light-shadow;
	}
}
