.benefits {
	background: $silver-color;

	&__container {
		@include flex-justify-center;
		flex-direction: column;
		gap: 80px;
	}

	&__content-list {
		@include flex-center-center;
		gap: 40px;

		@include low-laptop {
			flex-direction: column;
		}
	}

	&-content {
		&__title {
			margin-bottom: 20px;
		}

		&__text {
			color: $gray-color;
			@include low-laptop {
				max-width: 400px;
			}
		}
	}
}
