.footer {
	padding: 40px 100px;
	background-color: $black-color;

	@include low-desktop {
		padding: 40px 20px;
	}

	&__left {
		@include flex-justify-center;
		flex-direction: column;
		gap: 20px;

		@include tablet {
			gap: 40px;
		}
	}

	&__copy {
		color: rgba(255, 255, 255, 0.7);
		font-size: $text-font-size;
	}

	&__container {
		@include flex-space-center;
		gap: 40px;

		@include tablet {
			flex-direction: column;
		}
	}
}
