.header {
	padding: 40px 100px;
	background-color: $black-color;

	@include low-desktop {
		padding: 40px 20px;
	}

	&__container {
		@include flex-space-center;
	}

	&__nav-list {
		@include flex-center-center;
		gap: 40px;

		@include low-laptop {
			gap: 20px;
		}
	}

	&__nav-link {
		color: $white-color;
		font-size: $text-font-size;
	}

	&__phone {
		@include tablet {
			position: relative;
			width: 44px;
			height: 44px;
			margin: 0 10px 0 auto;
			font-size: 0;
			border-radius: 10px;
			border: 1px solid $platinum-color;
			background: url('../../../public/svg/phone.svg') no-repeat center,
				$black-gradient-color;
			background-size: 24px 24px;
		}
	}

	&__nav {
		@include tablet {
			display: none;
			position: fixed;
			z-index: 99;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $black-color;
		}
	}

	&__nav.is-active {
		@include flex-justify-center;
	}

	&__nav.is-active &__nav-list {
		flex-direction: column;
	}

	&__nav.is-active &__nav-link {
		font-size: $subtitle-font-size;
		font-weight: 600;
	}
}
