.order {
	background: $red-color url('./../../../public/svg/percent.svg') repeat-x
		bottom center;

	&__container {
		@include flex-center-center;
		gap: 80px;

		@include low-desktop {
			text-align: center;
		}

		@include low-laptop {
			flex-direction: column;
		}
	}

	&-content {
		@include flex-justify-center;
		flex-direction: column;
		gap: 40px;
		//max-width: 400px;

		&__title,
		&__text {
			color: $white-color;

			@include low-laptop {
				text-align: center;
			}
		}
	}

	&-form {
		padding: 0 40px;

		@include low-laptop {
			padding: 0 80px;
		}

		@include tablet {
			padding: 0 20px;
		}

		&__input {
			width: 100%;
			height: 64px;
			padding: 0 20px;

			margin-bottom: 20px;
		}

		&__btn {
			width: 100%;
		}
	}
}
