.trainers-popup {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	backdrop-filter: blur(20px);

	::-webkit-scrollbar {
		height: 170px;
		width: 5px;
	}

	::-webkit-scrollbar-track {
		background: $gray-color;
		border-radius: 20px;
		max-height: 100px;
	}

	::-webkit-scrollbar-thumb {
		background: $black-color;
		border-radius: 20px;
	}

	&__container {
		max-width: 940px;
		margin: auto;
		position: relative;
		background: $white-color;
		padding: 40px;
		border-radius: 20px;
	}

	&__btn--close {
		position: absolute;
		top: 40px;
		right: 40px;
		border: none;
		background: transparent;

		@include mobile {
			top: 10px;
			right: 10px;
		}
	}

	&__wrapper {
		gap: 40px;
	}

	&__header {
		@include flex-align-center;
		gap: 40px;

		@include tablet {
			padding-top: 20px;
		}

		@include mobile {
			gap: 20px;
		}
	}

	&__header-wrapper {
		@include flex-justify-center;
		flex-direction: column;
		gap: 40px;

		@include mobile {
			gap: 1px;
		}
	}

	&__image {
		width: 160px;
		height: 222px;

		@include mobile {
			width: 60px;
			height: 88px;
		}
	}

	&__social-link svg {
		width: 40px;
		height: 40px;

		@include mobile {
			width: 24px;
			height: 24px;
		}
	}
}

.trainers-tabs {
	&__nav-list {
		display: flex;
		justify-content: space-between;
		padding: 20px 40px;

		// @include tablet {
		// 	@include flex-center-center;
		// 	flex-direction: column;
		// 	gap: 10px;
		// }

		@include mobile {
			padding: 20px 0;
		}
	}

	&__nav-btn {
		border: none;
		background: transparent;
		color: $black-color;
		font-size: 20px;

		@include tablet {
			font-size: 18px;
			font-weight: 700;
		}

		@include mobile {
			font-size: 12px;
			font-weight: 600;
		}
	}

	&__nav-btn.is-active {
		color: $red-color;
	}

	&__content {
		overflow-y: auto;
		max-height: 300px;
		box-shadow: $light-shadow;
		border-radius: 20px;
	}

	&__wrapper {
		padding: 20px;
		display: none;
	}

	&__wrapper.is-active {
		@include flex-justify-center;
		flex-direction: column;
		gap: 40px;
	}
}
