.trainers {
	&__container {
		margin-bottom: 80px;
	}

	&__wrapper {
		overflow-x: hidden;
		padding: 40px 0;
		@include padding-container-left;
	}

	&__cards {
		overflow: visible !important;
	}

	&-card {
		max-width: 360px;

		&__image {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-image: no-repeat center center;
			margin-bottom: 40px;
			border-radius: 20px;
		}

		&__subtitle {
			font-size: $subtitle-font-size;
			font-weight: 600;
		}

		&__text {
			color: $gray-color;
			font-size: $text-font-size;
		}

		&__subtitle,
		&__text {
			margin-bottom: 20px;
		}

		&__link {
			color: $red-color;
		}
	}

	&-nav {
		@include flex-space-center;

		@include mobile {
			@include flex-center-center;
			margin: 0 auto;
		}

		&__scrollbar {
			width: 340px;
			height: 4px;
			border-radius: 20px;
			background: $silver-color;
			box-shadow: $light-shadow;

			@include tablet {
				width: 300px;
			}

			@include mobile {
				width: 100%;
				display: 200px;
			}
		}

		&__btns {
			@include flex-align-center;
			gap: 20px;

			@include mobile {
				display: none;
			}
		}

		&__btn {
			display: inline;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			box-shadow: $light-shadow;

			&--prev {
				background: url('./../../../public/icons/arrow-left.png') no-repeat
					center center;
			}

			&--next {
				background: url('./../../../public/icons/arrow-left.png') no-repeat
					center center;
				rotate: (180deg);
			}
		}
	}
}
